{% extends 'base.html' %}

{% block container %}

<h1>{{ event_list.name }}</h1>
 

<!--<div class="row">-->
<div class="col-sm-12 mt-6">
<div class="col-sm-6 mt-6">
<div class="card">
<a href="{% url event_list.slug 'blog:blog_create'  %}" class="btn btn-primary mb-4">Create New Event</a>
</div>
</div>
    {% for post in posts %}
    <div class="col-sm-6 mt-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.body | truncatechars:50 }}</p>
<div class="row">
<form action = "{% url 'blog:like_post' post.pk %}" method ="POST">
{% csrf_token %}
<button type = "submit", name = "post_id", value = "{{ post.id }}" class="btn btn-success">YES </button> 
</form>

<form action = "{% url 'blog:dislike_post' post.pk %}" method ="POST">
    {% csrf_token %}
    <button type = "submit", name = "post_id_no", value = "{{ post.id }}" class="btn btn-danger">NO</button> 
</form>
<a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read more</a>
</div>
</div>
</div>
</div>
    {% endfor %}

</div>
 
{% endblock %}